body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

button {
  cursor: pointer;
}

table {
  margin: auto;
}

th,
td {
  padding: 6px;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

tbody tr:hover {
  font-weight: bold;
  cursor: default;
}

.title {
  color: darkred;
}

.author {
  text-align: right;
  font-style: italic;
}
