@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300;400&display=swap');

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  margin: auto;
  font-family: 'Kantumruy Pro', sans-serif;
  background-color: #fff;
  color: #40dcc2; /*usar laranja para destaque*/
  
}
#flex01 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  padding-bottom: 25px;
  padding-top: 25px;
}

header {
  background-color: #40dcc2;
  color: #fff;
  text-align: center;
  font-weight: 900;
  height: 11vh;

}
h1 {
  padding-top: 15px;
}

label{
  margin-bottom: 5px;
}
input {
  margin-top: 5px;
  display: block;
  width: 200px;
  color: #e7ad2e;
  background-color: #fafafa;
  height: 25px;
  border-radius: 5px;
}
input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
button{
  background-color: #40dcc2;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  height: 40vh;
  width: 20vw;
  padding: 30px;
  border-radius: 30px;
  background-color: #f5e4b4;
}
section{
  background-color: aliceblue;
  height: 40vh;
  width: 50vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 30px;
}

footer {
  background-color: #40dcc2;
  color: #fff;
  text-align: right;
  height: 10vh;
}

footer p{
  padding: 20px 10px 0px 0px;
}
