body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

#paragraph-result {
  margin-top: 50px;
}

input {
  margin-top: 5px;
  width: 200px;
}
